body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  margin: 50px;
  padding: 50px;
}

.submit-button {
  margin-top: 50px;
}

.increment {
  padding: 5px 20px 5px 20px;
}

.time-up {
  background-color: red;
}

.two-minute-warning {
  background-color: yellow;
}

.finished {
  background-color: green;
}


.finish-button {
    margin-bottom: 50px;
}

.menu-card {
    width: 300px;
    height: 400px;
}

.card img {
    width: 250px;
    height: 200px;
    object-fit: cover;
}

.up-button {
  text-align: center;
  width: 31.33px;
}

.card input {
  width: 80px;
  text-align: center;
}

.arrow-buttons {
    margin-left: 70px;
    margin-bottom: 30px;
    display: inline-flex;
    align-content: center;

}
.card {
  margin-left: 30px;
  margin-bottom: 30px
}

.login-form {
  border-style: solid;
  padding: 30px;
  width: 50%;
}