body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.main {
  margin: 50px;
  padding: 50px;
}

.submit-button {
  margin-top: 50px;
}

.increment {
  padding: 5px 20px 5px 20px;
}

.time-up {
  background-color: red;
}

.two-minute-warning {
  background-color: yellow;
}

.finished {
  background-color: green;
}


.finish-button {
  margin-bottom: 50px;
}